In [226]:
import pandas as pd
import numpy as np
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [227]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [228]:
df['Neighbourhood'] = df[df['Borough'] != 'Not assigned'].groupby(['Postcode'])['Neighbourhood'].transform(lambda x: ','.join(x))
df = df.drop_duplicates()

In [229]:
df['Neighbourhood'] = df.apply(
    lambda row: row['Borough'] if (row['Neighbourhood']=='Not assigned') else row['Neighbourhood'],
    axis=1
)

In [230]:
df.head(10)

   Postcode           Borough                    Neighbourhood
0       M1A      Not assigned                              NaN
1       M2A      Not assigned                              NaN
2       M3A        North York                        Parkwoods
3       M4A        North York                 Victoria Village
4       M5A  Downtown Toronto                     Harbourfront
5       M6A        North York  Lawrence Heights,Lawrence Manor
7       M7A  Downtown Toronto                     Queen's Park
8       M8A      Not assigned                              NaN
9       M9A      Queen's Park                     Queen's Park
10      M1B       Scarborough                    Rouge,Malvern